@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  @apply outline-none rounded ring-4 ring-violet-600/75;
}

body {
  background-image: url('/cat-pattern.webp');
}

html,
body,
#root {
  height: 100%;
}

.splash-shadow {
  text-shadow: -5px 5px 0 rgb(0 0 0 / 10%);
}
